<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Topics</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='extract_topics.css') }}">

</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-secondary position-absolute" style="top: 20px; right: 20px;">Return to Home</a>

        <h1 class="text-center mt-5">Topic Extraction</h1>

        <div class="total-evc-container">
            <div class="total-evc-card">
                {{ total_variance_ratio }}
            </div>
        </div>

        <div id="results" class="mt-4"></div>
    </div>
    
    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='extract_topics.js') }}"></script>
</body>
</html>
