<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top-K Similarities</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='top_k_similarities.css') }}">


</head>
<body>
    <div class="container">
        <a href="/" class="btn btn-secondary return-home">Return to Home</a>
    
        <h1 class="text-center">Top-K Similarities</h1>
    
        <div class="form-group">
            <label for="kValue">Enter K:</label>
            <input type="number" id="kValue" name="k" class="form-control" placeholder="Enter K value" required>
        </div>
    
        {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
        {% endif %}
    
        <form id="similaritiesForm" method="POST" action="/top_k_similarities">
            <div class="d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Find Top-K Similarities</button>
                <div id="loadingSpinner1" class="spinner-border text-primary ml-3" role="status" style="display: none;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    
        <hr>
    
        <div id="results">
            {% if results %}
                <h2>Top {{ results|length }} Similarities</h2>
                <ul>
                    {% for similarity, member1, member2 in results %}
                        <li>{{ member1 }} and {{ member2 }} - Similarity: <span class="similarity-value">{{ (similarity * 100) | round(2) }}%</span></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='top_k_similarities.js') }}"></script>

</body>
</html>
